.App {
  font-family: sans-serif;
  text-align: center;
  position: relative;
}

.container {
  min-height: 100vh;
  background-color: lightgrey;
}

.nav {
  background-color: #262626;
  padding-left: 6rem;
  height: 4rem;
}

.nav-item {
  padding: 16px 10px;
}

.nav a {
  text-decoration: none;
  color: white;
  font-size: 22px;
}

.nav button,
.home-page button {
  color: white;
  font-size: 22px;
}

#results-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  padding: 20px;
}
